<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 定义系统日志专属 Appender -->
    <appender name="SYSTEM_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/.monitor_logs/system_usage.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${user.home}/.monitor_logs/system_usage-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="SYSTEM_LOGGER" level="INFO" additivity="false">
        <appender-ref ref="SYSTEM_FILE" />
    </logger>
</configuration>